div.Tables{
	vertical-align: top;
	display:inline-block;
    float:right;
}

div.MPLD3_Graph{
	vertical-align: top;
	display:inline-block;
    float:left;	
}

.MPLD3_Graph path {
    pointer-events: none;
}
.MPLD3_Graph path.mpld3-path {
    pointer-events: auto;
}
